<div class="about">
    <p>
       Self-Starter, motiviated Web developer with 2+ years of experince in desigining and developing user inmterface.
    </p>
    <p>
        I am someone who is passinate about web developement and its related technolgoies
    </p>
    <p>I have been coding despite having other responsbiblites (Job & Family). It's something that I enojy. For that, I beleive I will be be an asset a value added to your company</p>
<p>Landing in a full time job in web development will give me the opportunity to expand my skills even further and make me more productive
    Below is a quick overview of my main technical skill sets and tools that I use:
</p>

<ul class="skills">
<h3>SKILLS</h3>
<hr>
    <li class="skill">RESPONSIVE DESIGN</li>
    <li class="skill">JAVASCRIPT</li>
    <li class="skill">ANGULAR</li>
    <li class="skill">HTML 5</li>
    <li class="skill">CSS 3</li>
    <li class="skill">BOOTSTRAP</li>
    <li class="skill">SASS</li>
</ul>
<!-- 
<fieldset style="border: 1px red solid; text-align:center; width: 50%; margin: 0 auto" >
    <legend>HTML</legend>
    <ul class="skills">
        <li class="skill">RESPONSIVE DESIGN</li>
        <li class="skill">JAVASCRIPT</li>
        <li class="skill">ANGULAR</li>
        <li class="skill">HTML 5</li>
        <li class="skill">CSS 3</li>
        <li class="skill">BOOTSTRAP</li>
        <li class="skill">SASS</li>
    </ul>
</fieldset> -->
</div>
