<div class="about">
    <p>Dedicated and efficient Front End Web developer with 2+ years of hands-on experience in designing and 
developing user interface. In addition to my employment history, I have developed five different projects, 
including my Portfolio website... all from scratch, to demonstrate the wide range of my skills.<p> 
    
    <p>Some of the technologies used in these projects are Firebase, Angular, JavaScript/TypeScript, Bootstrap, CSS3/SASS and 
HTML5.</p> 

<p>I also have some experience in the backend like NodeJS/Express, NoSQl and SQL databases.</p>

<p>I am seeking a company where I can use my experience and education to help the company meet and surpass its goals.</p>

<ul class="skills">
<h3>SKILLS</h3>
<hr>
    <li class="skill">RESPONSIVE DESIGN</li>
    <li class="skill">JAVASCRIPT</li>
    <li class="skill">ANGULAR</li>
    <li class="skill">HTML 5</li>
    <li class="skill">CSS 3</li>
    <li class="skill">BOOTSTRAP</li>
    <li class="skill">SASS</li>
</ul>
<!-- 
<fieldset style="border: 1px red solid; text-align:center; width: 50%; margin: 0 auto" >
    <legend>HTML</legend>
    <ul class="skills">
        <li class="skill">RESPONSIVE DESIGN</li>
        <li class="skill">JAVASCRIPT</li>
        <li class="skill">ANGULAR</li>
        <li class="skill">HTML 5</li>
        <li class="skill">CSS 3</li>
        <li class="skill">BOOTSTRAP</li>
        <li class="skill">SASS</li>
    </ul>
</fieldset> -->
</div>
