.contact{
    min-height: 90vh;
    display: grid;
    grid-template-columns: minmax(30rem, 40rem);
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 885px) {
        display: block;
        margin-top: 4rem;
        min-height: auto;
   }

    @media screen and (max-width: 520px) {
        display: block;
        width: 100%;
        margin-bottom: 5rem;
        padding: 0;
   }

}

.confirmationMsg{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.664);
    border-radius: 5px;
    transition: all ease .2s;
    position: relative;

    &__success{
        color:green;
    }
    &__failed{
        color: red;
    }

    &__close{
        position: absolute;
        top: 5px;
        right: 7px;
        cursor: pointer;
        color: brown;
    }
}
.form{
    padding: 0 1rem;
    &__label{
        font-family: sans-serif;
        display: inline-block;
        color: brown;
        transform: translateY(-5rem);
        margin-left: .5rem;
    }
  
 &__input, &__textarea, &__btn{
    width: 100%;
 }

 &__input:placeholder-shown + &__label{
    visibility: hidden;
 }
 &__input{  
     padding: .7rem;
     border: none;
     border-bottom: transparent 2px solid;
     margin-bottom: 1rem;

     @media screen and (max-width: 885px) { 
           margin-bottom: .2rem;
    }

     &:focus{
         outline: 0;
         
     }
     &:focus .form__label{
         display: block;
     }

     &::-webkit-input-placeholder,
     &::-webkit-textarea-placeholder{
         color: brown;
         text-transform: uppercase;
     }
     
 }
&__textarea{
    padding: .7rem;
    border: none;
    margin-top: 1rem;
    border-bottom: lightskyblue 2px solid;
    margin-bottom: 1rem;
    font-family: inherit;
    transition: all ease 1s;

    &:focus{
        outline: 0;
    }
}
 &__btn{
     font-size: 1.1rem;
     display: block;
     padding: 1rem;
     border: none;
     background-color: brown;
     color: #fff;
     cursor: pointer;


     &:disabled{
         background-color: rgb(182, 41, 41);
         cursor: not-allowed;
     }
 }


}


input.ng-invalid.ng-touched{
    border-bottom: red 2px solid;
}

input.ng-valid{
    border-bottom: limegreen 2px solid;
}
textarea.ng-invalid.ng-touched {
    border-bottom: red 2px solid;
}
textarea.ng-valid {
    border-bottom: limegreen 2px solid;
}

textarea::placeholder {
    color: brown;  
    text-transform: uppercase;
  }
  


  .failed{
      color: red;
  }