.container{
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 10px 10px #777;
    padding: .5rem;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 20rem 1fr;
    justify-content: center;
    align-content: center;

    
    background-image: linear-gradient(rgba(123, 197, 243, 0.774), rgba(173, 216, 230, 0.767)),
    url('/assets/bg.jpg');
    background-size: cover;
    background-position: 10rem 50%;
    background-repeat: no-repeat;

  
    @media screen and (max-width:885px){
        grid-template-columns: minmax(30rem, 1fr);
        min-height: 95vh;
        background-image: none;
        background-color: lightskyblue;
    }
    @media screen and (max-width:520px){
        padding: 0;
        background-image: none;
        box-shadow: none;
        display: block;
        //background-color: brown;
    }
    
  
}